.habit-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0.75rem;
  margin-top: 10px;
  border-bottom: 1px solid #eee;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
  background-color: #d1c9c9;
  border-radius: 25px;
}

.habit-item:hover {
  background-color: #dcdcdc;
}

.habit-name {
  font-size: 1rem;
  color: #333;
  transition: color 0.2s, text-decoration 0.2s;
  word-break: break-word;
  overflow-wrap: break-word;
  max-width: 80%;
}

.habit-item.completed .habit-name {
  text-decoration: line-through;
  color: #ffffff;
}

.habit-item.completed {
  background-color: #777171;
}

.habit-delete-btn {
  text-align: center;
  background-color: #e74c3c;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s;
}

.habit-delete-btn:hover {
  background-color: #c0392b;
}