.habit-form {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 2rem;
}

.habit-label {
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 25px;
}

.habit-input {
  flex: 1;
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 25px;
  font-size: 1rem;
  transition: all 0.2s;
}


.habit-btn {
  padding: 0.5rem 1rem;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s, transform 0.1s;
}

.habit-btn:hover {
  background-color: #b9298e;
  transform: scale(1.05);
}