* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Roboto, Arial, sans-serif;
  color: #222;
}

body {
  background-image: url("./assets/gatitos.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #333;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: darken;
}

/* Contenedor de Habitos */
.main-container {
  width: 95%;
  max-width: 480px;
  margin: 1.5rem auto;
  padding: 2rem;
  flex: 1;
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(8px);
  border-radius: 16px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
}

/* Header */
.header-container {
  font-size: 2rem;
  text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.6);
  text-align: center;
  margin: 2rem 0;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 50px;
  font-size: 2rem;
  background-color: rgba(0, 0, 0, 0.5);;
}

/* Footer */
.footer-container {
  text-align: center;
  font-size: 0.9rem;
  color: #ffffff;
  border-radius: 20px;
  background-color: rgba(194, 186, 186, 0.5);;
  width: 100%;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.8);
  padding: 0,75rem 0;
  min-height: 25px;
}

/* Responsive */
@media (max-width: 600px) {
  .main-container {
    padding: 1.5rem;
    margin: 1rem;
  }

  .header-container h1 {
    font-size: 1.5rem;
  }
}